language: python
sudo: false
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
matrix:
  include:
    # 0.14.0 is the last version with the old categorical system
    - python: 3.3
      env: PANDAS_VERSION_STR="=0.14.0"
    - python: 2.7
      env: PANDAS_VERSION_STR="=0.14.0"
# This disables sudo, but makes builds start much faster
# See http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false
before_install: bash ./ci/before_install.sh
install:
  - pip install .
  - pip install -r dev-requirements.txt
  - pip list
script:
  - PYTHONPATH='.:tests' py.test -r s --cov-config .coveragerc --cov=cloudpickle
after_success:
  - codecov
