# Dependencies for running the tests with py.test
flake8
pytest
pytest-cov
psutil
# To be able to test tornado coroutines
tornado
# To be able to test numpy specific things
# but do not build numpy from source on Python nightly
numpy; python_version <= '3.8'
# Code coverage uploader for Travis:
codecov
coverage
# Utility package used when running the cloudpickle test suite
./tests/cloudpickle_testpkg
